<div class="toolbar" role="banner">
  <img
    width="45"
    alt="Logo"
    src="https://cdn-icons-png.flaticon.com/512/2622/2622034.png"
    class="logo"
  />
  <span>KoRe Task Tracker</span>
  <span>
    <a class="nav-link text-light" routerLink="/add-task">Add Task</a>
  </span>
  <span>
    <a class="nav-link text-light" routerLink="/view-tasks">View Tasks</a>
  </span>
  <span>
    <a class="nav-link text-light" routerLink="/add-user"> Add User </a>
  </span>
  <span>
    <a class="nav-link text-light" routerLink="/view-users"> View Users </a>
  </span>
</div>
