<div class="mt-2 mb-2"></div>

<div class="card">
    <div class="card-body">
      <div class="row">
        <label><b>{{taskItem.taskName}}</b></label>
        <br>
        <label>Assigned To: User ID #{{taskItem.userId}}</label>
        <br>
        <label>Priority Level: {{taskItem.priorityId}}</label>
        <br>
        <label>Status: {{taskItem.status}}</label>

        <label>Description:</label>

        <div class="taskDesc">
          {{taskItem.desc}}
        </div>

        <div>
          <a routerLink="/edit-task/{{taskItem.id}}" class="btn btn-secondary w-3">Edit</a>
          <a routerLink="/update-task/{{taskItem.id}}" class="btn btn-success w-3">Done</a>
          <a class="btn btn-danger" (click)="handleDelete(taskItem)">DELETE</a>
        </div>
      </div>
    </div>
  </div>
