<div class="card chart-container">
  <div class="card-header"><b>Top 3 Performing Users</b></div>
  <div class="card-body">

    <div class="card user-card">
      <div class="card-header"><b>#1 User</b></div>
      <div class="card-body">
        Progress: 50%
        <br>
        To do: 1 | In Progress: 3 | Done: 10
      </div>
    </div>

    <div class="card user-card">
      <div class="card-header"><b>#2 User</b></div>
      <div class="card-body">
        Progress: 50%
        <br>
        To do: 1 | In Progress: 3 | Done: 10
      </div>
    </div>

    <div class="card user-card">
      <div class="card-header"><b>#3 User</b></div>
      <div class="card-body">
        Progress: 50%
        <br>
        To do: 1 | In Progress: 3 | Done: 10
      </div>
    </div>
  </div>
</div>

<div class="card" id="quote">
  <div class="card-header"><b>Quote for the day</b></div>
  <div class="card-body">

    <div class="card">
      <div class="card-body">
       <b>"You've shown me I have reasons I should love myself"</b>
       <br>
       <i>BTS, Love Yourself</i>
      </div>
    </div>

</div>
