div.inputFields{
  width: 400px;
}

input{
  margin-bottom: 10px;
}

div.card-header{
  background-color: #b038c3;
}

button{
  background-color: #b038c3;
}

button:hover{
  background-color: #581c62;
}

section{
  margin-top: 150px;
}
