<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<app-header></app-header>

<div class="content" role="main">
  <!-- <app-add-user></app-add-user> -->
  <app-navigation-bar></app-navigation-bar>

  <app-landing-page></app-landing-page>

  <!-- Footer -->
  <app-footer></app-footer>
  <app-background></app-background>
</div>

