div.inputFields{
  width: 400px;
}

div.card-header{
  background-color: #b038c3;
}

input{
  margin-bottom: 10px;
}

button{
  background-color: #b038c3;
  margin-left: 5px;
}

button:hover{
  background-color: #581c62;
}

select{
  margin-bottom: 10px;
}

#dropdowns{
  margin-bottom: 10px;
}
